
table.orderTable th,
table.orderTable td,
table.sketchesTable th,
table.sketchesTable td,
div.orderSummary,
div.checkout,
div.supportBox {
    padding-left: 10pt;
    padding-right: 10px;
    padding-top: 6pt;
    padding-bottom: 6px;
}

.align_right {
    text-align: right;
}

table.blind {
    border-style: none;
}

table.orderTable ul {
    margin:0 !important;
    list-style: none !important;
}

table.orderTable,
table.sketchesTable {
    width: 100%;
    background-color: #c2daca;
    border-collapse: separate !important;
}
table.orderTable tbody tr:nth-child(odd),
table.sketchesTable tbody tr:nth-child(odd) {
    background-color: #e1ece5;
}
table.orderTable th,
table.sketchesTable th {
    vertical-align: top;
}
table.sketchesTable .sketchCell {
    padding-right: 20pt;
}
table.sketchesTable .actionCell {
}
table.sketchesTable .copiesCell {
    text-align: center;
}
table.sketchesTable .areaCell {
}
table.sketchesTable .checkCell {
    text-align: center;
}
table.sketchesTable .priceCell {
    text-align: right;
}

div.orderSummary {
    background-color: #c2daca;
}
div.orderSummary table {
    width: 100%;
}
div.orderSummary table tr:last-child td {
    font-weight: bold;
    height: 24pt;
    vertical-align: bottom;
}

div.checkout {
    background-color: #e1ece5;
}

div.supportBox {
    color: white;
    background-color: #ac362b;
}




