/* Fritzing Fab Styles */



table.orderTable th,
table.orderTable td,
table.sketchesTable th,
table.sketchesTable td,
div.orderSummary,
div.checkout,
div.supportBox {
    padding: 10px;
}

.align_right {
    text-align: right;
}

table.blind {
    border-style: none;
}

table.orderTable ul {
    margin:0 !important;
    list-style: none !important;
}

table.orderTable,
table.sketchesTable {
    width: 100%;
    background-color: #c2daca;
    border-collapse: separate !important;
}
table.orderTable tbody tr:nth-child(odd),
table.sketchesTable tbody tr:nth-child(odd) {
    background-color: #e1ece5;
}
table.orderTable th,
table.sketchesTable th {
    vertical-align: top;
}
table.sketchesTable .sketchCell {
    padding-right: 20pt;
}
table.sketchesTable .actionCell {
}
table.sketchesTable .copiesCell {
    text-align: center;
}
table.sketchesTable .areaCell {
}
table.sketchesTable .checkCell {
    text-align: center;
}
table.sketchesTable .priceCell {
    text-align: right;
}

div.orderSummary {
    background-color: #c2daca;
}
div.orderSummary table {
    width: 100%;
}
div.orderSummary table tr:last-child td {
    font-weight: bold;
    height: 24pt;
    vertical-align: bottom;
}

div.checkout {
    background-color: #e1ece5;
}

.paypalCheckoutCaption {
    line-height: 3em;
}
.paypalCheckoutLink {
    float: right;
    margin-bottom: 1.5em;
}

div.supportBox {
    color: white;
    background-color: #ac362b;
}

div.overlay {
    width: 40em !important;
}
.overlay .pb-ajax>div {
    padding: 3em;
    width: auto;
    background-color: #c2daca;
}

#addform div.formControls {
    margin: 0;
    margin-top: 3em;
}
#addform #form-buttons-cancel,
#addform #form-buttons-save {
    width: 103px;
    height: 30px;
    color: white !important;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 34px;
    border: none;
}
#addform #form-buttons-cancel:hover,
#addform #form-buttons-save:hover {
    color: #2a4b3a !important;
}
#addform #form-buttons-save {
    margin-right: 3em;
    background: url(button_upload.png);
}
#addform #form-buttons-cancel {
    background: url(button_cancel.png);
}

.genericButton {
    display: inline-block;
    height: 30px;
    border: none;
    border-left: 1px solid #80a593;
    background: url(button_generic_bg_right.png) no-repeat top right;
}
.genericButton a {
    display: inline-block;
    min-width: 54px;
    height: 30px;
    border: none;
    padding-left: 32px;
    padding-right: 16px;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none !important;
    text-transform: uppercase;
    color: white !important;
}
a.addSketchLink {
    background: url(button_add_left.png) no-repeat top left;
}
a.editAddressLink {
    padding-left: 14px;
}
a.addOrderLink {
}


/* hide unwanted stuff on popups */
.pb-ajax .documentFirstHeading,
.pb-ajax .discreet,
.pb-ajax .formTabs {
    display: none;
}


