{% if entry %}
	{% load i18n %}
	{% load comments %}
	<div class="newsentry-content">
        {% get_comment_list for entry as comment_list %}
        {% if comment_list %}
	        <h2>{% trans "Comments" %}</h2>
	        <ol class="comments">
	        {% for comment in comment_list %}
	            <li id="c{{ comment.id }}" class="{% cycle 'odd' 'even' %}">
	                <p class="title">
	                    <span class="author">
	                        {% if comment.website %}
	                          <a href="{{ comment.website }}">{{ comment.name }}</a>
	                        {% else %}
	                          {{ comment.name }}
	                        {% endif %}
	                    </span>
	                    <span class="date" id="c{{ comment.id }}">
	                        <a href="#c{{ comment.id }}">#</a> {{ comment.submit_date|date:_("DATETIME_FORMAT") }}
	                    </span>
	                </p>
	                {{ comment.comment }}
	            </li>
	        {% endfor %}
	        </ol>
        {% endif %}
        
        <br />

		{% if user.is_authenticated %}
			{% get_comment_form for entry as comment_form %}
			 <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/comments.js"></script>
			 <h3>{% trans "Add comment" %}</h3>
			 <fieldset class="shinyform">
			       <form method="post" action="/comments/post/" onsubmit="return validateComment();">
					<p>
						<ul id="required_error" class="errorlist" style="display: none;">
							<li>This field is required.</li>
						</ul>
						<input id="id_name" type="hidden" maxlength="50" name="name" value="{{ user.username }}"/>
						{{ user.get_profile.email }}
						{% if user.get_profile.email %}
							<input id="id_email" type="hidden" name="email" value="{{ user.get_profile.email }}"/>
						{% else %}
							<input id="id_email" type="hidden" name="email" value="none@fritzing.org"/>
						{% endif %}
						<textarea id="id_comment" name="comment" cols="40" rows="10"></textarea>
					</p>
					<p class="submit">
						<input class="submit-post" type="submit" value="Post" name="post"/>
						<input id="id_name" type="hidden" maxlength="50" name="name" value="{{ user.username }}"/>
					</p>
					{{ comment_form.content_type }}
					{{ comment_form.object_pk }}
					{{ comment_form.timestamp }}
					{{ comment_form.security_hash }}
					<input type="hidden" name="next" value="{{ request.META.PATH_INFO }}" />				
				</form>
			</fieldset>
		{% else %}
			<a href="/account/login/?next={{ request.META.PATH_INFO }}">{% trans "Login to post a comment..." %}</a>
		{% endif %}
	</div>
{% endif %}