{% extends "site_base.html" %}
{% block subnav %}{% endblock subnav %}
{% block content %}

{% if scripts_list %}
<form action="/parts/generator/form/" method="post">
  <label for="script_id">Choose a type of part to create</label>
    <select name="script_id" id="script_id">
    {% for script in scripts_list %}
        <option value="{{ script.value }}">{{ script.label }}</option>
    {% endfor %}
    </select><br />
    <input type="submit" value="Submit" />
</form>
{% else %}
    <p>No scripts are available.</p>
{% endif %}

{% endblock %}
