.profile {
}

.profile .header {
}

.profile .header .main {
	float: left;
	margin-left: 15px;
}

.profile .header .image {
	width: 150px;
	float: left;
}

.profile_info {
	clear: left;
	float: left;
	width: 55%;
	margin-top: 10px;
}

#user_projects {
	float: right;
	width: 40%;
}

.edit {
	clear: both;
}

.form_links {
	float: left; 
}

.form_links ul {
	margin-left: 0px !important;
}

.form_links li {
	float: left;
	margin-right: 8px;
	list-style-type: none;
}

.form_buttons {
	float: right;
	margin-right: 5%;
}

.form_footer {
	margin-top: 10px;
}