.profile {
}

.profile .header {
	float: left;
}

.profile .user_activity {
	margin-left: 15px;
	float: right;
	width: 76%;
}

.profile .header .main {
	margin-top: 15px;
}

.profile .header .image {
	width: 150px;
	float: left;
}

.profile_about {
}

.data_col {
	width: 48%;
	overflow: hidden;
}

.col1 {
	clear: left;
	float: left;
}

.edit {
	clear: both;
}

.form_links {
	float: left; 
}

.form_links ul {
	margin-left: 0px !important;
}

.form_links li {
	float: left;
	margin-right: 8px;
	list-style-type: none;
}

.form_buttons {
	float: right;
	margin-right: 5%;
}

.form_footer {
	margin-top: 10px;
}