table.project p {
    margin-bottom: 0.1em !important;
}

table.project label {
    margin-right: 0.1em;
    font-weight: bold;
}

table.project p {
    padding: 0.1em 0 0.5em;
}

table.project span.help {
    color: #999;
}

div.project_links input {
  margin-right: 1em;
}

div.project_links input.title {
  width: 30%;
}

div.project_links input.url {
  width: 50%;
}

div.project_other_files input[type~=text] {
  width: 50%;
  margin-right: 10px;
}
div.project_instructions {
  margin-top: 15px;
}

textarea {
	width: 95% !important;
}

.markItUp {
  width: 390px;
}
.markItUpEditor {
  width: 380px;
}
.submit_line {
  margin: 10px 0px;
  padding: 10px 0px;
  float:right;
}

ul.selection a:link,
.markItUpButton a:link,
.markItUpButton a:visited,
.markItUpButton a:link {
  border-bottom: none !important;
}
.example{
  color: #ccc;
}
.project_links p {
  margin-bottom: 0.1em !important;
}
.project_license select {
  width:100%;
}

ul.selection {
    margin-top: 0 !important;
}

#id_description {
    line-height: 16px;
}
#id_instructions {
    min-height: 200px;
    line-height: 16px;
}

.project.date.detail {
    padding-bottom: 5px;
    color: #666;
}

.project.description.detail {
    clear: right;
}

.project.detail.side_images a {
    border-bottom: none !important;
}

.project.detail.side_images img {
    vertical-align: baseline;
}

.project.detail.attachement.table {
    padding: 2px 4px;
}

.project.detail.attachement.grey {
    background-color: #eaeaea;
}

.project.overview.image {
    float: left;
    padding: 2px 4px;
}

.project.overview.image {
    float:left;
}
.project.overview.item {
    width: 48%;label::after { content: ": "; }
    float: left;
    margin-bottom: 8px;
}

.project.overview h3 {
    font-size: 1.1em !important;
}
.project.overview.item ul {
    float: left;
    margin: 0px 6px !important;
}

.project.overview.item ul li {
    list-style: none;
    color: #333;
}

.col1 {
	clear: left;
	float: left;
}

.col2 {
	float: right;
}

span.required {
	color: red;
	font-size: medium;
}

h3 {
	margin-top: 5px;
}

div.edit {
	clear: both;
	float: right;
	text-transform: none;
	font-size: 11px;
	margin-top: -20px;
}

.project .label {
}

.project .value {
	font-weight: bold;
	color: black;
}

h1 .value {
	font-weight: bold;
}