<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<part generic="false">
	<!-- This xml file is generated through a template. Please don't edit it directly -->
	<version>1.0</version>
	<species>$species</species>
	<genus>Wiring.Breadboard</genus>
	<title>$title</title>
	<description>A breadboard for easily prototyping circuits</description>
	<icons>
		<icon size="small" source="iconSmall.gif" />
		<icon size="large" source="iconLarge.gif" />
	</icons>
	<label>BB</label>
	<reference>http://fritzing.org/reference/parts/core/breadboard</reference>
	<authors>
		<author url="$author_url">$author</author>
	</authors>
	<defaultUnits>tenths</defaultUnits> <!-- pixels, inches, tenths=inches/10, himetric=cm/1000 -->
	<gridOffset x="387" y="254" units="himetric"/><!-- 61x40 400% view pixels -->
	<bounds width="16764" height="5334" units="himetric"/> <!-- 660x210 pixels -->
	<connectors units="tenths">
		<nameLayout visible="false" />
## first we draw the rows
#for $row in $rows
#for $dot in $row
		<connector id="$dot.id" type="female"><point x="$dot.x" y="$dot.y" /></connector>
#end for
#end for
## then draw the lines
#for $line in $lines
#for $dot in $line
		<connector id="$dot.id" type="female"><point x="$dot.x" y="$dot.y" /></connector>
#end for
#end for
	</connectors>
	<nets>
		<trackLayout visible="false" />
## draw the net between the rows
#for $row in $rows
		<net>#slurp
#for $dot in $row
<connector id="$dot.id"/>#slurp
#end for
</net>
#end for
## draw the net between the lines
#for $line in $lines
		<net>
#for $dot in $line
			<connector id="$dot.id"/>
#end for
		</net>
#end for
	</nets>
	<layers zorder="back">
		<layer type="image">
			<image source="partHoles100.png" type="bitmap" zoom="1" />
			<image source="partHoles200.png" type="bitmap" zoom="2" />
			<image source="partHoles400.png" type="bitmap" zoom="4" />
		</layer>
	</layers>
</part>