{% load i18n %}

{% if is_detail %}
  <div class="more">
    <p>
      {{ entry.content_more|safe }}
    </p>
  </div>
  {% if entry.source_url %}
  <p class="source">
      {% trans "Source" %}: <a href="{{ entry.source_url }}">{{ entry.source_url }}</a>
  </p>
  {% endif %}
{% else %}
  <dt class="" id="{{ entry.pk|escape }}">
    <span class="contenttype-news-item summary">
      <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
    </span>
  </dt>
  <dd>
    <span="description">
      {{ entry.content|safe }}
    </span>
  </dd>
{% endif %}
