<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) Fachhochschule Potsdam

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fritzing.org" 
       class = "org.fritzing.fritzing.FritzingPackage"
       genModel = "model/fritzing.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="fritzing" 
       class="org.fritzing.fritzing.util.FritzingResourceFactoryImpl" />
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="Fritzing.diagram.FritzingPhysicalApplication"
           name="Fritzing">
        <property
              name="appName"
              value="Fritzing">
        </property>
        <property
              name="aboutImage"
              value="icons/fritzingbanner.gif">
        </property>
        <property
              name="aboutText"
              value="Fritzing - From Prototype to Product&#x0D;&#x0A;Release 0003 ALPHA, Dec 29th 2007&#x0D;&#x0A;&#x0D;&#x0A;Contributors: Reto Wettach, André Knörig, Zach Eveland, Dirk van Oosterbosch, &#x0D;&#x0A;Jonathan Cohen, Myriel Milicevic, Julia Werner, Omer Yosha, Travis Robertson,&#x0D;&#x0A;Fabian Brunsing, Marcus Paeschke, Klaus Zimmermann, Elisabeth Eichhorn,&#x0D;&#x0A;Stefan Hermann, Hendrik Gäbler, Haik Dettmann, Alex Grunsteidl, Christian Engler, &#x0D;&#x0A;David Mellis, James Haliburton, Jan Sieber, Lutz Dickmann, Massimo Banzi, &#x0D;&#x0A;Matt Karau, Michael Zöllner, Olaf Val, Tom Hulbert, and Tom Igoe&#x0D;&#x0A;&#x0D;&#x0A;(c) 2007 Fachhochschule Potsdam&#x0D;&#x0A;Visit http://fritzing.org">
        </property>
        <property
              name="windowImages"
              value="icons/fritzing.gif,icons/FritzingBranding32.gif,icons/FritzingBranding48.gif,icons/FritzingBranding64.gif,icons/FritzingBranding128.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupMessageRect"
              value="12,207,540,20">
        </property>
        <property
              name="startupProgressRect"
              value="12,184,220,12">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>

</plugin>
