{% load pages_tags cache %}
{% if page.status %}
<li class="navTreeItem visualNoMarker navTreeFolderish">
    <div>
    <a href="{{ page.get_absolute_url }}" class="state-published navTreeFolderish {% if current_page %}{% ifequal page current_page.parent %}navTreeCurrentItem navTreeCurrentNode{% endifequal %}{% ifequal current_page page %}navTreeCurrentItem navTreeCurrentNode{% endifequal %}{% endif %}" title="">
        <span>{% show_content page "title" %}</span>
    </a></div>
    {% if current_page and not page.level %}
        {% cache PAGE_CONTENT_CACHE_DURATION menu page.id lang current_page.id %}
        <ul class="navTree navTreeLevel{{ page.level|add:"1" }}">
        {% ifequal page current_page.parent %}
            {% for child in current_page.parent.get_children %}
                {% pages_menu child %}
            {% endfor %}
        {% endifequal %}
        {% ifequal page current_page %}
            {% for child in children %}
                {% pages_menu child %}
            {% endfor %}
        {% endifequal %}
        </ul>
        {% endcache %}
    {% endif %}
</li>
{% endif %}
