[buildout]
parts =
    plone
    productdistros
    instance
    zopepy

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    fritzing.policy
    fritzing.theme
	collective.portlet.explore

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/fritzing.policy
    src/fritzing.theme

[plone]
recipe = plone.recipe.plone


# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls = 	
    http://www.zope.org/Members/shh/DocFinderTab/1.0.2/DocFinderTab-1.0.2.tar.gz
    http://plone.org/products/clouseau/releases/0.8.1/clouseau-0-8-1.zip
	http://plone.org/products/cachefu/releases/1.1.1/CacheFu-1.1.1.tgz
	http://plone.org/products/collage/releases/1.0/collage-1-0rc3-tar.gz
	http://plone.org/products/atflashmovie/releases/1.0.1/atflashmovie-1-0-1-tar.gz
nested-packages =
	CacheFu-1.1.1.tgz
version-suffix-packages =

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.5/Zope-2.10.5-final.tgz

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
effective-user = plone
http-address = 8080
debug-mode = off
verbose-security = off
zope-conf-additional =
	enable-ms-author-via on
	<webdav-source-server>
	address localhost:8484
	force-connection-close off
	</webdav-source-server> 

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    ${buildout:eggs}
    ${plone:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    fritzing.policy
	fritzing.theme

products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
