{% load i18n pages_tags cache generic_content fritzing_tools %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery-cachekey.js"></script>
        <script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/search.js"></script>
        {% block extra_script %}{% endblock %}
        <style type="text/css">
        /*<![CDATA[*/
        <!-- @import url({{ MEDIA_URL }}fritzing/css/base-cachekey.css); -->
        /*]]>*/
        </style>
        <link rel="kinetic-stylesheet" type="text/css" href="{{ MEDIA_URL }}fritzing/css/at-cachekey.kss" />
        <style type="text/css" media="all">@import url({{ MEDIA_URL }}fritzing/css/ploneboard.css);</style>
        <title>
            {% block title %}{% if current_page %}{% show_content current_page "title" %}{% endif %}{% endblock %} - Fritzing
        </title>
        <meta content="Fritzing is an open-source initiative to support designers, artists, researchers and hobbyists to work creatively with interactive electronics." name="description" />
        <!-- Internet Explorer CSS Fixes -->
        <!--[if IE]>
        <style type="text/css" media="all">@import url({{ MEDIA_URL }}fritzing/css/IEFixes.css);</style>
        <![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="home" href="http://fritzing.org" title="Front page" />
        <meta http-equiv="imagetoolbar" content="no" /><!-- Disable IE6 image toolbar -->
        {% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="Fritzing Blog (RSS)" href="{% url ticker_feeds "rss" %}" />
<link rel="alternate" type="application/atom+xml" title="Fritzing Blog (Atom)" href="{% url ticker_feeds "atom" %}" />
        {% endblock %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-316017-6']);
	  _gaq.push(['_setDomainName', '.fritzing.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    </head>
    <body class="section-learning template-folder_listing" dir="ltr" {% block extra_body_attr %}{% endblock %}>
        <div id="visual-portal-wrapper">
            <div id="portal-top">
                <div id="portal-header">
                    <a id="portal-logo" accesskey="1" href="/" name="portal-logo">
                        <img src="{{ MEDIA_URL }}fritzing/img/logo.gif" alt="" title="" height="29" width="289" />
                    </a>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style" style="position: relative; float: left; margin-left: 2em;">
		<!--<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://www.facebook.com/pages/Fritzing/178139742262089"></a>-->
		<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://fritzing.org"></a>
		<!--<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:href="https://plus.google.com/111413496761356146888" g:plusone:width="70px"></a>-->
		<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:href="http://fritzing.org" g:plusone:width="70px"></a>
		<a class="addthis_button_twitter_follow_native" tf:screen_name="FritzingOrg" tf:show-screen-name="false" tf:width="150px"></a>
		<a class="addthis_button_tweet" tw:url="http://fritzing.org"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=fritzing"></script>
		<!-- AddThis Button END -->
                    <div id="portal-personaltools-wrapper">
						<form id="searchForm" class="search" style="margin-bottom: 0;" action="http://www.google.com/search" method="get">
							<input id="search" type="text" value="" name="q"/>
						</form>
                        {% block login %}{% endblock %}
                    </div>
                </div>
            </div>

            {% if site_wide_announcements %}
                <div id="site_wide_announcements">
                    <ul>
                        {% for announcement in site_wide_announcements %}
                        <li>
                            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="visualClear" id="clear-space-before-wrapper-table"><!-- --></div>
            <div id="portal-columns">
                <div id="portal-column-one">
                    <div class="visualPadding">
                        <div class="portletWrapper">
                            <dl class="portlet portletNavigationTree">
                                <dd class="portletItem">
                                    <ul class="navTree navTreeLevel0">
                                        {% block subnav %}{% endblock subnav %}
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="portal-column-content">
                    <div class="">
                        <div id="region-content" class="documentContent">
                            <span id="contentTopLeft"></span> <span id="contentTopRight"></span> <a name="documentContent" id="documentContent"></a>
                            <div id="content">
                                {% if messages %}
                                    <ul id="messages">
                                        {% for message in messages %}
                                        <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <h1 class="documentFirstHeading">
                                    <span class="" id="parent-fieldname-title">
                                        {% block page_title %}{% endblock %}
                                    </span>
                                </h1>
                                <p class="documentDescription">
                                    <span class="" id="parent-fieldname-description">
                                        {% block teaser %}{% endblock %}
                                    </span>
                                </p>
                                <div class="" id="parent-fieldname-text">
                                    {% block body %}{% endblock %}
                                    {% block content %}{% endblock %}
                                    {% block left_column %}{% endblock %}
                                    {% block right_column %}{% endblock %}
                                </div>
                                <div class="visualClear">
                                    <!-- -->
                                </div>
                                <div class="documentActions">
                                    <ul>
				    <li>
				    <div id="google_translate_element"></div>
				    </li>
				    <script>
					function googleTranslateElementInit() {
					  new google.translate.TranslateElement({
					    pageLanguage: 'en',
						autoDisplay: false,
					    gaTrack: true,
					    gaId: 'UA-316017-6',
					    layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
					  }, 'google_translate_element');
					}
				    </script>
				     <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				<li>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook"></a>
				<a class="addthis_button_twitter"></a>
				<a class="addthis_button_email"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=fritzing"></script>
				<!-- AddThis Button END -->
					<!--<a class="addthis_button" href="http://addthis.com/bookmark.php?v=250&amp;username=fritzing"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=fritzing"></script>-->
				</li>
                                        {% if request.user.is_authenticated and current_page %}
                                        <li id="document-action-sendto">
                                            <a href="/admin/pages/page/{{ current_page.pk }}/" title="">Edit</a>
                                        </li>
                                        {% endif %}
                                        {% block metalinks %}{% endblock %}
                                        <li id="document-action-print">
                                            <a href="javascript:this.print();" title="">Print this</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="reviewHistory" id="review-history"></div>
                            </div>
                            <div class="discussion">
                            </div><span id="contentBottomLeft"></span> <span id="contentBottomRight"></span>
                        </div>
                    </div>
                </div>
                {% block sidebar %}
                <div id="portal-column-two">
                    <div class="visualPadding">
                        
                        {% get_latest_objects news.NewsEntry 3 as latest_news %}
                        {% if latest_news %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/news/" class="tile">Blog</a>
                                </dt>
                                {% for news in latest_news %}
                                <dd class="portletItem {% cycle 'odd' 'even' %}">
                                    <a href="{{ news.get_absolute_url }}" class="tile" title="{{ news.title }}">{{ news.title }} <span class="portletItemDetails">{{ news.date|date:"N d, Y" }}</span></a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a href="/news/">More posts&hellip;</a>
                                </dd>
                            </dl>
                        </div>
                        {% endif %}
                       	
                        
                        
                        {% get_latest_timed_objects events.event 3 start_date >= today as latest_events %}
                        {% if latest_events %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/events/" class="tile">Talks &amp; Workshops</a>
                                </dt>
                                {% for event in latest_events %}
                                <dd class="portletItem {% cycle 'odd' 'even' %}">
                                    <a href="{% url event_details event.slug %}" class="tile" title="{{ event.title }}">
                                    	{{ event.title }}
                                    	<span class="portletItemDetails">
                                    	{% if event.where %}{{ event.where.text }} -{% endif %} {{ event.start_date|date:"M d" }}
                                    	</span>
                                    </a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a href="/events/">All events&hellip;</a>
                                </dd>
                            </dl>
                        </div>
                        {% endif %}


                        
                        {% cache 600 sidebar_forum %}
                        {% get_latest_objects_with_relatives forum.thread 3 order_by -latest_post_time as latest_forum_threads %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/forum/" class="tile">On the forum</a>
                                </dt>
                                {% for thread in latest_forum_threads %}
                                <dd class="portletItem">
                                        <a href="{{ thread.thread_latest_post.get_feed_url }}"
                                           class="state-active tile"
                                           title="{{ thread.title }}"
                                        >{{ thread.title }}</a>
                                        <a class="portletItemDetails"
                                           href="{{ thread.forum.get_absolute_url }}"
                                        >{{ thread.forum.title }}</a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a class="title" href="/forum/">More discussions&hellip;</a>
                                </dd>
                            </dl>
                        </div>&nbsp;
                        {% endcache %}
                        
			
                        {% get_latest_objects projects.project 3 as latest_projects %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/projects/" class="tile">New projects</a>
                                </dt>
                                {% for p in latest_projects %}
                                <dd class="portletItem">
                                        <a href="/projects/{{ p.slug }}"
                                           class="state-active tile"
                                           title="{{ p.tittle }}"
                                        >{{ p.title }}</a>
                                        <a class="portletItemDetails"
                                           href="{% url profile_detail p.author.username %}"
                                        >{% firstof p.author.get_fullname p.author.username %}</a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a class="title" href="/projects/">More projects&hellip;</a>
                                </dd>
                            </dl>
                        </div>&nbsp;
			
			
		    <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/shop/starter-kit/" class="tile">Get a starter kit</a>
                                </dt>
                                <dd class="portletItem">
				<a href="/shop/starter-kit/"><img align="center" src="/media/uploads/shop/img_7902_jpg_versions/thumbnail_IMG_7902.jpg"/></a>
                                </dd>
                            </dl>
                        </div>&nbsp;
			
			
                    </div>
                </div>
                {% endblock sidebar %}
            </div>
            <div class="visualClear" id="clear-space-before-footer"><!-- --></div>
            <div id="portal-footer">
                <a href="/contact/">Contact</a> \ <a href="http://design.fh-potsdam.de/forschung/interaction-design-lab.html">An initiative of the Interaction Design Lab Potsdam</a>
            </div>
            <div id="portal-colophon">
                <acronym title="Copyright">&copy;</acronym> 2007 - 2011 <a href="http://design.fh-potsdam.de">University of Applied Sciences Potsdam</a>
            </div>
            <div class="visualClear">
                <!-- -->
            </div>
        </div>
    {% block footer_script %}{% endblock %}
    </body>
</html>
