{% load i18n pages_tags cache generic_content fritzing_tools %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery-cachekey.js"></script>
        <script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/search.js"></script>
        {% block extra_script %}{% endblock %}
        <style type="text/css">
        /*<![CDATA[*/
        <!-- @import url({{ MEDIA_URL }}fritzing/css/base-cachekey.css); -->
        /*]]>*/
        </style>
        <link rel="kinetic-stylesheet" type="text/css" href="{{ MEDIA_URL }}fritzing/css/at-cachekey.kss" />
        <style type="text/css" media="all">@import url({{ MEDIA_URL }}fritzing/css/ploneboard.css);</style>
        <title>
            {% block title %}{% if current_page %}{% show_content current_page "title" %}{% endif %}{% endblock %} - Fritzing
        </title>
        <meta content="Learn from circuit examples how to use parts. From &quot;Hello World&quot; to complex hacks. Please note: this page is under heavy development!" name="description" />
        <!-- Internet Explorer CSS Fixes -->
        <!--[if IE]>
        <style type="text/css" media="all">@import url({{ MEDIA_URL }}fritzing/css/IEFixes.css);</style>
        <![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="home" href="http://fritzing.org" title="Front page" />
        <meta http-equiv="imagetoolbar" content="no" /><!-- Disable IE6 image toolbar -->
        {% block extra_head %}{% endblock %}
    </head>
    <body class="section-learning template-folder_listing" dir="ltr">
        <div id="visual-portal-wrapper">
            <div id="portal-top">
                <div id="portal-header">
                    <a id="portal-logo" accesskey="1" href="/" name="portal-logo">
                        <img src="{{ MEDIA_URL }}fritzing/img/logo.gif" alt="" title="" height="29" width="289" />
                    </a>
                    <div id="portal-personaltools-wrapper">
						<form id="searchForm" class="search" style="margin-bottom: 0;" action="http://www.google.com/search" method="get">
							<input id="search" type="text" value="" name="q"/>
						</form>
                        {% block login %}{% endblock %}
                    </div>
                </div>
            </div>

            {% if site_wide_announcements %}
                <div id="site_wide_announcements">
                    <ul>
                        {% for announcement in site_wide_announcements %}
                        <li>
                            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="visualClear" id="clear-space-before-wrapper-table"><!-- --></div>
            <div id="portal-columns">
                <div id="portal-column-one">
                    <div class="visualPadding">
                        <div class="portletWrapper">
                            <dl class="portlet portletNavigationTree">
                                <dd class="portletItem">
                                    <ul class="navTree navTreeLevel0">
                                        {% block subnav %}{% endblock subnav %}
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="portal-column-content">
                    <div class="">
                        <div id="region-content" class="documentContent">
                            <span id="contentTopLeft"></span> <span id="contentTopRight"></span> <a name="documentContent" id="documentContent"></a>
                            <div id="content">
                                {% if messages %}
                                    <ul id="messages">
                                        {% for message in messages %}
                                        <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <h1 class="documentFirstHeading">
                                    <span class="" id="parent-fieldname-title">
                                        {% block page_title %}{% endblock %}
                                    </span>
                                </h1>
                                <p class="documentDescription">
                                    <span class="" id="parent-fieldname-description">
                                        {% block teaser %}{% endblock %}
                                    </span>
                                </p>
                                <div class="" id="parent-fieldname-text">
                                    {% block body %}{% endblock %}
                                    {% block content %}{% endblock %}
                                    {% block left_column %}{% endblock %}
                                    {% block right_column %}{% endblock %}
                                </div>
                                <div class="visualClear">
                                    <!-- -->
                                </div>
                                <div class="documentActions">
                                    <ul>
                                        {% if request.user.is_authenticated and current_page %}
                                        <li id="document-action-sendto">
                                            <a href="/admin/pages/page/{{ current_page.pk }}/" title="">Edit</a>
                                        </li>
                                        {% endif %}
                                        {% block metalinks %}{% endblock %}
                                        <li id="document-action-print">
                                            <a href="javascript:this.print();" title="">Print this</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="reviewHistory" id="review-history"></div>
                            </div>
                            <div class="discussion">
                            </div><span id="contentBottomLeft"></span> <span id="contentBottomRight"></span>
                        </div>
                    </div>
                </div>
                {% block sidebar %}
                <div id="portal-column-two">
                    <div class="visualPadding">
                        
                        {% get_latest_objects news.NewsEntry 5 as latest_news %}
                        {% if latest_news %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/news/" class="tile">News</a>
                                </dt>
                                {% for news in latest_news %}
                                <dd class="portletItem {% cycle 'odd' 'even' %}">
                                    <a href="{{ news.get_absolute_url }}" class="tile" title="{{ news.title }}">{{ news.title }} <span class="portletItemDetails">{{ news.date|date:"N d, Y" }}</span></a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a href="/news/">More news…</a>
                                </dd>
                            </dl>
                        </div>
                        {% endif %}
                       	
                        
                        
                        {% get_latest_timed_objects events.event 5 start_date >= today as latest_events %}
                        {% if latest_events %}
                        <div class="portletWrapper">
                            <dl class="portlet portletNews">
                                <dt class="portletHeader">
                                    <a href="/events/" class="tile">Upcoming Events</a>
                                </dt>
                                {% for event in latest_events %}
                                <dd class="portletItem {% cycle 'odd' 'even' %}">
                                    <a href="{% url event_details event.slug %}" class="tile" title="{{ event.title }}">
                                    	{{ event.title }}
                                    	<span class="portletItemDetails">
                                    	{% if event.where %}{{ event.where.text }} -{% endif %} {{ event.start_date|date:"M d" }}
                                    	</span>
                                    </a>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a href="/events/">All events…</a>
                                </dd>
                            </dl>
                        </div>
                        {% endif %}


                        
                        {% cache 600 sidebar_forum %}
                        {% get_latest_objects_with_relatives forum.thread 5 order_by -latest_post_time as latest_forum_threads %}
                        <div class="portletWrapper">
                            <dl class="portlet portletPloneboardRecent">
                                <dt class="portletHeader">
                                    <a href="/forum/" class="tile">Recent discussions</a>
                                </dt>
                                {% for thread in latest_forum_threads %}
                                <dd class="portletItem">
                                    <div class="contenttype-ploneboardconversation">
                                        <a href="{{ thread.thread_latest_post.get_feed_url }}"
                                           class="state-active tile"
                                           title="{{ thread.title }}"
                                        >{{ thread.title }}</a>
                                        <a class="portletItemDetails"
                                           href="{{ thread.forum.get_absolute_url }}"
                                        >{{ thread.forum.title }}</a>
                                    </div>
                                </dd>
                                {% endfor %}
                                <dd class="portletFooter">
                                    <a class="title" href="/forum/">More…</a>
                                </dd>
                            </dl>
                        </div>&nbsp;
                        {% endcache %}
                    </div>
                </div>
                {% endblock sidebar %}
            </div>
            <div class="visualClear" id="clear-space-before-footer"><!-- --></div>
            <div id="portal-footer">
                <a href="/contact/">Contact</a> \ <a href="http://design.fh-potsdam.de/forschung/interaction-design-lab.html">An initiative of the Interaction Design Lab Potsdam</a>
            </div>
            <div id="portal-colophon">
                <acronym title="Copyright">©</acronym> 2007 - 2009 <a href="http://design.fh-potsdam.de">University of Applied Sciences Potsdam</a>
            </div>
            <div class="visualClear">
                <!-- -->
            </div>
        </div>
    {% block footer_script %}{% endblock %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-316017-6");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
    </body>
</html>
