{% extends "base.html" %}
{% load i18n %}
{% load pages_tags %}
{% load tree_menu_tags %}

{% block login %}
<ul id="portal-personaltools" class="visualInline">
    {% if user.is_authenticated %}
    <li>
        <a href="{% url acct_email %}">{{ user.username }}</a> <a href="/openid/logout/?next={% url acct_logout %}" class="logout-link">{% trans "Logout" %}</a>
    </li>
    {% else %}
    <li>
        <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
        <a href="{% url acct_login %}" class="login-link">{% trans "Login" %}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block subnav %}
    {% if all_pages %}
        {% for page in all_pages %}
            {% pages_menu page %}
        {% endfor %}
    {% endif %}
    {% show_menu "Left" %}
    <span style="float:right">
        {% show_menu "Right" %}
    </span>
{% endblock subnav %}

{% block documentactions %}
    {% if request.user.is_staff %}
    <li>
        <a href="/admin/">{% trans "Admin" %}</a>
    </li>
    {% endif %}
{% endblock %}