{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{% url ticker_feeds "rss" %}" />
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{% url ticker_feeds "atom" %}" />
{% endblock %}

{% block title %}{% trans "News" %}{% endblock %}

{% block metalinks %}
    <li><a href="{% url ticker_feeds "rss" %}">RSS</a></li>
    <li><a href="{% url ticker_feeds "atom" %}">Atom</a></li>
{% endblock %}
