{% extends "site_base.html" %}
{% load i18n %}
{% load fritzing_tools %}
{% block title %}
  Projects
{% endblock %}

{% block page_title %}
    {% if by_user %}
    	<span class="value">{{by_user}}'s</span> Projects
    {% else %}{% if by_tag %}
    	Projects tagged as <span class="value">{{ by_tag }}</span>
    {% else %}{% if by_category %}
    	Projects inside <span class="value">{{ by_category }}</span> category
    {% else %}{% if by_difficulty %}
    	Projects for <span class="value">{{ by_difficulty }}</span>
    {% else %}
    	Projects
    {% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}

{% block teaser %}
    This section presents a collection of learning materials for beginners as well as for advanced users.
{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/projects.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/projects.list.js"></script>
{% endblock %}

{% block content %}
	<div id="projects_meta">
		<form action="{% url projects-create %}">
			<input type="submit" value="{% trans "Create New..." %}"></input>
		</form>
		
		<form action="{% url projects-overview %}" id="searchForm" method="get">
			<div class="option">
				<div class="header">By category:</div>
				{% for c in categories %}					
					<a class="filter{% if selected_categories|contains:c.id %} current{% endif %}"
						href="javascript:filter('selected_categories','{{c.id}}')"
						>
						{% if selected_categories|contains:c.id %}
							<img src="/media/admin/img/admin/icon_deletelink.gif"/>
						{% endif %}
						{{c.title}}</a>
					
					<span class="hidden">
						<input name="selected_categories" id="{{c.id}}" type="checkbox"
							value="{{c.id}}" 
						{% if selected_categories|contains:c.id %}
							checked="checked"
						{% endif %}
						></input>
					</span>
				{% endfor %}
			</div>
			
			<div class="option">
				<div class="header">By difficulty:</div>
				{% for c in difficulties %}					
					<a class="filter{% if selected_difficulties|contains:c.id %} current{% endif %}"
						href="javascript:filter('selected_difficulties','{{c.id}}')"
						>
						{% if selected_difficulties|contains:c.id %}
							<img src="/media/admin/img/admin/icon_deletelink.gif"/>
						{% endif %}
						{{c.title}}</a>
					
					<span class="hidden">
						<input name="selected_difficulties" id="{{c.id}}" type="checkbox"
							value="{{c.id}}" 
						{% if selected_difficulties|contains:c.id %}
							checked="checked"
						{% endif %}
						></input>
					</span>
				{% endfor %}
			</div>
			
			<div class="option">
				<div class="header">By tag:</div>
				{% for t in tags %}
					<a class="filter{% if selected_tags|contains:t %} current{% endif %}"
						href="javascript:filter('selected_tags','{{t}}')"
						>
						{% if selected_tags|contains:t %}
							<img src="/media/admin/img/admin/icon_deletelink.gif"/>
						{% endif %}
						{{t}}</a>
					
					<span class="hidden">
						<input name="selected_tags" id="{{t}}" type="checkbox"
							value="{{t}}" 
						{% if selected_tags|contains:t %}
							checked="checked"
						{% endif %}
						></input>
					</span>
				{% endfor %}
			</div>
		</form>
		
		{% if not showing_all %} 
		<div class="option"><div class="header">
			<br />
			<a href="{% url projects-overview %}">All Projects</a>
		</div></div>
		{% endif %}
	</div>
	{% if projects %}
    <div id="projects "class="plain project">
            {% for project in projects %}
                <div class='project overview item {% cycle 'col1' 'col2' 'col3' %}'>
                  <div class="project overview image">
                    {% if project.main_images.0 %}
                        <!-- a href="{{ project.get_absolute_url }}"><img
                            width="{{ project.main_images.0.overview.width }}"
                            height="{{ project.main_images.0.overview.height }}"
                            src="{{ project.main_images.0.overview.url }}" 
                            alt="{{ project.title }}" /></a-->
                        <a href="{{ project.get_absolute_url }}"><img
                            width="150"
                            src="{{ project.main_images.0.overview.url }}" 
                            alt="{{ project.title }}" /></a>
                    {% endif %}
                  </div>
				  <div class="project overview info"> 
                    <div>
                      <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
                    </div>
                    <div>{{ project.created|date:_("DATE_FORMAT") }}</div>
                    <div>by <a href="{% url profile_detail project.author.username %}">{{ project.author }}</a>
                    {% if project.difficulty %}
                    	for {{ project.get_difficulty }}
                    {% endif %}
                    </div>
				  </div>
                </div>
            {% endfor %}
    </div>
    {% else %}
    	No projects found
    {% endif %}
{% endblock %}

{# {% block footer_script %} #}
{#     <script type="text/javascript" charset="utf-8"> #}
{#         $(document).ready(function() { #}
{#             $('.project.detail.side_images a').lightBox(); #}
{#         }); #}
{#     </script> #}
{# {% endblock %} #}