{% extends "site_base.html" %}
{% load i18n %}
{% block title %}
  Projects
{% endblock %}

{% block page_title %}
    {% if by_user %}
    	<span class="value">{{by_user}}'s</span> Projects
    {% else %}{% if by_tag %}
    	Projects tagged as <span class="value">{{ by_tag }}</span>
    {% else %}{% if by_category %}
    	Projects inside <span class="value">{{ by_category }}</span> category
    {% else %}{% if by_difficulty %}
    	Projects for <span class="value">{{ by_difficulty }}</span>
    {% else %}
    	Projects
    {% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}

{% block teaser %}
    This section presents a collection of learning materials for beginners as well as for advanced users.
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/projects.css" type="text/css" media="screen" charset="utf-8">
    {# <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery.lightbox.js"></script> #}
    {# <link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/jquery.lightbox.css" type="text/css" media="screen" charset="utf-8" /> #}
{% endblock %}

{% block content %}
	{% if projects %}
	<div id="projects_meta">
		<form action="{% url projects-create %}">
			<input type="submit" value="{% trans "Create New..." %}"></input>
		</form>
		
		<div class="option">
			<div class="header">By category:</div>
			{% for c in categories %}
				<a {% ifequal c by_category %}class="current"{% endifequal %}
					href="{% url projects-by-category c %}">{{c}}</a>
			{% endfor %}
		</div>
		
		<div class="option">
			<div class="header">By difficulty:</div>
			{% for d in difficulties %}
				<a {% ifequal d by_difficulty %}class="current"{% endifequal %}
					href="{% url projects-by-difficulty d %}">{{d}}</a>
			{% endfor %}
		</div>
		
		<div class="option">
			<div class="header">By tag:</div>
			{% for t in tags %}
				<a {% ifequal t by_tag %}class="current"{% endifequal %}
					href="{% url projects-by-tag t %}">{{t}}</a>
			{% endfor %}
		</div>
		
		<div class="option"><div class="header">
			<br />
			<a href="{% url projects-overview %}">All Projects</a>
		</div></div>
	</div>
    <div id="projects "class="plain project">
            {% for project in projects %}
                <div class='project overview item {% cycle 'col1' 'col2' 'col3' %}'>
                  <div class="project overview image">
                    {% if project.main_images.0 %}
                        <!-- a href="{{ project.get_absolute_url }}"><img
                            width="{{ project.main_images.0.overview.width }}"
                            height="{{ project.main_images.0.overview.height }}"
                            src="{{ project.main_images.0.overview.url }}" 
                            alt="{{ project.title }}" /></a-->
                        <a href="{{ project.get_absolute_url }}"><img
                            width="150"
                            src="{{ project.main_images.0.overview.url }}" 
                            alt="{{ project.title }}" /></a>
                    {% endif %}
                  </div>
				  <div class="project overview info"> 
                    <div>
                      <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
                    </div>
                    <div>{{ project.created|date:_("DATE_FORMAT") }}</div>
                    <div>by <a href="{% url profile_detail project.author.username %}">{{ project.author }}</a>
                    {% if project.difficulty %}
                    	for {{ project.get_difficulty }}
                    {% endif %}
                    </div>
				  </div>
                </div>
            {% endfor %}
    </div>
    {% else %}
    	No projects found
    {% endif %}
{% endblock %}

{# {% block footer_script %} #}
{#     <script type="text/javascript" charset="utf-8"> #}
{#         $(document).ready(function() { #}
{#             $('.project.detail.side_images a').lightBox(); #}
{#         }); #}
{#     </script> #}
{# {% endblock %} #}