{% extends "site_base.html" %}

{% block title %}
  Projects
{% endblock %}

{% block page_title %}
    Projects
{% endblock %}

{% block teaser %}
    This section presents a collection of learning materials for beginners as well as for advanced users.
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/projects.css" type="text/css" media="screen" charset="utf-8">
    {# <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery.lightbox.js"></script> #}
    {# <link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/jquery.lightbox.css" type="text/css" media="screen" charset="utf-8" /> #}
{% endblock %}

{% block content %}
    <table class="plain project">
    <tbody>
        <tr>
            {% for project in projects %}
            <td>
                <div class="project overview item">
                  <span class="project overview image">
                    {% if project.main_images %}
                        <p><a href="{{ project.main_images.0.image.url }}"><img
                            width="{{ project.main_images.0.sidebar.width }}"
                            height="{{ project.main_images.0.sidebar.height }}"
                            src="{{ project.main_images.0.sidebar.url }}" 
                            alt="{{ project.main_images.0.title }}" /></a></p>
                    {% endif %}
                  </span>
                  <ul>
                    <li>
                      <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</h3>
                    </li>
                    <li>by {{ project.author }}</li>
                    {% if project.difficulty %}
                    <li>for {{ project.get_difficulty }}</li>
                    {% endif %}
                  </ul>
                </div>
            </td>
            {% if forloop.counter|divisibleby:"3"  %}
                </tr><tr>
            {% endif %}
            {% endfor %}
            <td width="30%">
                <div class="project detail meta">
                {% if project.category %}
                    <p><strong>Category:</strong> {{ project.category }}</p>
                {% endif %}
                {% if project.difficulty %}
                    <p><strong>Difficulty:</strong> {{ project.get_difficulty }}</p>
                {% endif %}
                {% if project.license %}
                    <p><strong>License:</strong> {{ project.license }}</p>
                {% endif %}
                {% if project.members.count %}
                    <p><strong>Members:</strong> {% for member in members %}{{ member }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                {% endif %}
                {% if project.tags %}
                    {{ tags }}
                {% endif %}
                </div>
                {% if project.sidebar_images.count %}
                <h2>Images</h2>
                <div class="project detail side_images">
                    {% for image in project.sidebar_images %}
                    <a href="{{ image.image.url }}">
                        <img src="{{ image.sidebar.url }}" alt="{{ image.title }}" width="{{ image.sidebar.width }}" height="{{ image.sidebar.height }}"/>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if project.attachments.count %}
                <h2>Files</h2>
                <div class="project detail attachement">
                    {% for attachment in project.attachments.all %}
                    <div class="project detail attachement table {% cycle "grey" "" %}">
                        <a href="{{ attachment.attachment.url }}">
                        {% firstof attachment.filename attachment.title %}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </td>
            <td width="30%">
              
            </td>
        </tr>
    </tbody>
    </table>
{% endblock %}

{# {% block footer_script %} #}
{#     <script type="text/javascript" charset="utf-8"> #}
{#         $(document).ready(function() { #}
{#             $('.project.detail.side_images a').lightBox(); #}
{#         }); #}
{#     </script> #}
{# {% endblock %} #}