{% load i18n %}

<table class="plain project">
    <tbody>
        <tr>
            {% for project in projects %}
            <td>
                <div class="project overview item">
                  <span class="project overview image">
                    {% if project.main_images %}
                        <p><a href="{{ project.get_absolute_url }}"><img
                            width="100"
                            src="{{ project.main_images.0.overview.url }}" 
                            alt="{{ project.title }}" /></a></p>
                    {% endif %}
                  </span>
                  <ul>
                    <li>
                      <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
                    </li>
                    <li>{{ project.created|date:_("DATETIME_FORMAT") }}</li>
                    <li>by {{ project.author }}
                    {% if project.difficulty %}
                    for {{ project.get_difficulty }}
                    {% endif %}
                    </li>
                  </ul>
                </div>
            </td>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}
                </tr>
            {% if not forloop.last %}
              <tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
