{% extends "site_base.html" %} 

{% block title %}
  Create / Edit project
{% endblock %}

{% block page_title %}
    Create / Edit a project
{% endblock %}

{% block teaser %}
    
{% endblock %}

{% block extra_head %}
  {{ form.media }}
  <link rel="stylesheet" href="{{ MEDIA_URL }}/fritzing/css/projects.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery.MultiFile.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery.example.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/jquery.autogrow.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/projects.js"></script>
{% endblock %}

{% block content %}
    <form id="my_form" action="" method="post" enctype="multipart/form-data" class="uniForm">
    <!-- {{ form.errors }} -->
    <table class="plain project">
    <tbody>
        <tr>
            <td width="60%">
              <div class="project_title">
                <label for="{{ form.title.auto_id }}">
                	{{ form.title.label }}
                </label>
                {% if form.title.field.required %}
                	<span class="required">&bull;</span>
                {% endif %}
                {% if form.title.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.title.help_text }}
	                </span>
                {% endif %}
                {% if form.title.errors %}
                  <span class="error">{{ form.title.errors }}</span>
                {% endif %}
                {{ form.id }}
                <p>{{ form.title }}</p>
              </div>
              
			  <div class="project_description">
                <label for="{{ form.description.auto_id }}">
                  {{ form.description.label }}
                </label>
                {% if form.description.field.required %}
                	<span class="required">&bull;</span>
                {% endif %}
                {% if form.description.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.description.help_text }}
	                </span>
                {% endif %}
                {% if form.description.errors %}
                  <span class="error">{{ form.description.errors }}</span>
                {% endif %}
                <p>{{ form.description }}</p>
              </div>

              <div class="project_fritzing_files">
                  <label for="{{ form.fritzing_files.auto_id }}">
                  {{ form.fritzing_files.label }}
                </label>
			    <span class="required">&bull;</span>
                {% if form.fritzing_files.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.fritzing_files.help_text }}
	                </span>
                {% endif %}
                {% if form.fritzing_files.errors %}
                  <span class="error">{{ form.fritzing_files.errors }}</span>
                {% endif %}
                <p>{{ form.fritzing_files }}</p>
                <ul id="fritzing_files_selection" class="selection">
                {% for fritzing in fritzing_attachments %}
                	<div class="MultiFile-label">
                		<div id="fritzing_files_{{forloop.counter}}">
							<a class="MultiFile-remove" href="#" onclick="file_deleted('fritzing_files','{{ fritzing.attachment.url }}','{{forloop.counter}}')">
								<img src="/media/admin/img/admin/icon_deletelink.gif" height="10" width="10" alt="X"/>
							</a>
							<a href="{{ fritzing.attachment.url }}" target="_blank">
								<span class="MultiFile-title" title="File selected: {{ fritzing.filename }}">{{ fritzing.filename }}</span>
							</a>
						</div>
						<input type="hidden" name="prev_fritzing_files" value="{{ fritzing.attachment.url }}"/>
					</div>
                {% endfor %}
                </ul>
              </div>

              <div class="main_image">
                    <label for="{{ form.main_image.auto_id }}">
                    {{ form.main_image.label }}
                  </label>
                  <span class="required">&bull;</span>
				  {% if form.main_image.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.main_image.help_text }}
	                </span>
                  {% endif %}
                  {% if form.main_image.errors %}
                    <span class="error">{{ form.main_image.errors }}</span>
                  {% endif %}
                  <p>{{ form.main_image }}</p>
                  <ul id="main_image_selection" class="selection">
                  {% if main_image %}
                	<div class="MultiFile-label">
                		<div id="main_image_1">
							<a class="MultiFile-remove" href="#" onclick="file_deleted('main_image','{{ main_image.image.url }}','1')">
								<img src="/media/admin/img/admin/icon_deletelink.gif" height="10" width="10" alt="X" onclick="$('#id_main_image').removeAttr('disabled')" />
							</a>
							<a href="{{ main_image.image.url }}" target="_blank">
								<span class="MultiFile-title" title="File selected: {{ main_image.filename }}">{{ main_image.filename }}</span>
							</a>
						</div
						<input type="hidden" name="prev_main_image" value="{{ main_image.image.url }}"/>
					</div>
					<script language="javascript">
						main_image_already_loaded=true
					</script>
                {% endif %}
                 </ul>
              </div>

              <div class="project_instructions">
                <label for="{{ form.instructions.auto_id }}">
                  {{ form.instructions.label }}
                </label>
                {% if form.instructions.field.required %}
                  	<span class="required">&bull;</span>
                {% endif %}
                {% if form.instructions.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.instructions.help_text }}
	                </span>
                {% endif %}
                {% if form.instructions.errors %}
                  <span class="error">{{ form.instructions.errors }}</span>
                {% endif %}
                <p>{{ form.instructions }}</p>
              </div>


              <p class="submit_line">
                <a href="{% url projects-overview %}">Cancel</a>
                <input type="submit" value="Submit">
              </p>
            </td>



            <td width="40%" class="right_col">
              <!-- div class="project_public">
                {% if form.public.field.required %}
                  <label for="{{ form.public.auto_id }}" class="required">
                {% else %}
                  <label for="{{ form.public.auto_id }}">
                {% endif %}
                  {{ form.public.label }}
                  </label>
                  {{ form.public }}
                <span class="help">
                  {{ form.public.help_text }}
                </span>
                {% if form.public.errors %}
                  <span class="error">{{ form.public.errors }}</span>
                {% endif %}
              </div-->
              
              <div class="project_difficulty">
                <label for="{{ form.difficulty.auto_id }}">
                  {{ form.difficulty.label }}
                </label>
                {% if form.difficulty.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.difficulty.help_text }}
	                </span>
                {% endif %}
                {% if form.difficulty.errors %}
                  <span class="error">{{ form.difficulty.errors }}</span>
                {% endif %}
                <p>{{ form.difficulty }}</p>
              </div>
              
              <div class="project_license">
                <label for="{{ form.license.auto_id }}">
                  {{ form.license.label }}
                </label>
                <span class="required">&bull;</span>
                {% if form.license.errors %}
                  <span class="error">{{ form.license.errors }}</span>
                {% else %}
                  <br/>
                {%endif %}
                <span class="help">
                  {{ form.license.help_text|safe }}
                </span>
                <p>{{ form.license }}</p>
              </div>
              
              <div class="project_category">
                <label for="{{ form.category.auto_id }}">
                  {{ form.category.label }}
                </label>
                {% if form.category.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.category.help_text }}
	                </span>
                {% endif %}
                {% if form.category.errors %}
                  <span class="error">{{ form.category.errors }}</span>
                {% endif %}
                <p>{{ form.category }}</p>
              </div>

              <div class="project_tags">
                <label for="{{ form.tags.auto_id }}">
                  {{ form.tags.label }}
                </label>
                {% if form.tags.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.tags.help_text }}
	                </span>
                {% endif %}
                {% if form.tags.errors %}
                  <span class="error">{{ form.tags.errors }}</span>
                {% endif %}
                <p>{{ form.tags }}</p>
              </div>

              <div class="project_other_images">
                <label for="{{ form.other_images.auto_id }}">
                  {{ form.other_images.label }}
                </label>
                {% if form.other_images.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.other_images.help_text }}
	                </span>
                {% endif %}
                {% if form.other_images.errors %}
                  <span class="error">{{ form.other_images.errors }}</span>
                {% endif %}
                <p>{{ form.other_images }}</p>
                <ul id="other_images_selection" class="selection">
                	{% for other_images in other_images_attachements %}
	                	<div class="MultiFile-label">
	                		<div id="other_images_{{forloop.counter}}">
								<a class="MultiFile-remove" href="#" onclick="file_deleted('other_images','{{ other_images.image.url }}','{{forloop.counter}}')">
									<img src="/media/admin/img/admin/icon_deletelink.gif" height="10" width="10" alt="X"/>
								</a>
								<a href="{{ other_images.image.url }}" target="_blank">
									<span class="MultiFile-title" title="File selected: {{ other_images.filename }}">{{ other_images.filename }}</span>
								</a>
							</div>
							<input type="hidden" name="prev_other_images" value="{{ other_images.image.url }}"/>
						</div>
	                {% endfor %}
                </ul>
              </div>

              <div class="project_code">
                <label for="{{ form.code.auto_id }}">
                  {{ form.code.label }}
                </label>
                {% if form.code.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.code.help_text }}
	                </span>
                {% endif %}
                {% if form.code.errors %}
                  <span class="error">{{ form.code.errors }}</span>
                {% endif %}
                <p>{{ form.code }}</p>
                <ul id="code_selection" class="selection">
	                {% for code in code_attachments %}
	                	<div class="MultiFile-label">
	                		<div id="code_{{forloop.counter}}">
								<a class="MultiFile-remove" href="#" onclick="file_deleted('code','{{ code.attachment.url }}','{{forloop.counter}}')">
									<img src="/media/admin/img/admin/icon_deletelink.gif" height="10" width="10" alt="X"/>
								</a>
								<a href="{{ code.attachment.url }}" target="_blank">
									<span class="MultiFile-title" title="File selected: {{ code.filename }}">{{ code.filename }}</span>
								</a>
							</div>
							<input type="hidden" name="prev_code" value="{{ code.attachment.url }}"/>
						</div>
	                {% endfor %}
                </ul>
                {% if code_attachments %}
                    <script language="javascript">
	                $("#code_selection").show()
	                </script>
	            {% endif %}
              </div>

              <div class="project_examples">
                <label for="{{ form.examples.auto_id }}">
                  {{ form.examples.label }}
                </label>
                {% if form.examples.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.examples.help_text }}
	                </span>
                {% endif %}
                {% if form.examples.errors %}
                  <span class="error">{{ form.examples.errors }}</span>
                {% endif %}
                <p>{{ form.examples }}</p>
                <ul id="examples_selection" class="selection">
                	{% for examples in examples_attachments %}
	                	<div class="MultiFile-label">
	                		<div id="examples_{{forloop.counter}}">
								<a class="MultiFile-remove" href="#" onclick="file_deleted('examples','{{ examples.attachment.url }}','{{forloop.counter}}')">
									<img src="/media/admin/img/admin/icon_deletelink.gif" height="10" width="10" alt="X"/>
								</a>
								<a href="{{ examples.attachment.url }}" target="_blank">
									<span class="MultiFile-title" title="File selected: {{ examples.filename }}">{{ examples.filename }}</span>
								</a>
							</div>
							<input type="hidden" name="prev_examples" value="{{ examples.attachment.url }}"/>
						</div>
	                {% endfor %}
                </ul>
              </div>

              <div class="project_links">
                <label for="{{ form.resources.auto_id }}">
                  {{ form.resource.label }}
                </label>
                <a href="javascript:;" id="add_link" style="border:none" title="Add another link">
                  <img src="/media/admin/img/admin/icon_addlink.gif" />
                </a>
                {% if form.resource.help_text %}
                	<br/>
	                <span class="help">
	                  {{ form.resource.help_text }}
	                </span>
                {% endif %}
                {% if form.resource.errors %}
                  <span class="error">{{ form.resource.errors }}</span>
                {% endif %}

                {% if resources %}
					{% for r in resources %}						
		                <p>
		                	<input type="text" id="id_links_title_{{forloop.counter0}}" name='links_title' value="{{ r.title }}" class="title"/><input 
		                		type="text" id="id_links_url_{{forloop.counter0}}" name='links_url' value="{{ r.url }}" class="url"/><img 
		                		id="links_deleter_{{forloop.counter0}}" width="10" height="10"
		                		alt="X" src="/media/admin/img/admin/icon_deletelink.gif"/>
		                </p>
		            {% endfor %}
		            <script language="javascript">
		            	var prev_resources = true
		            </script>
		        {% else %}
		        	<p>
		        		<input type="text" id="id_links_title_0" name='links_title' class="title"/><input
		        			type="text" id="id_links_url_0" name='links_url' class="url"/><img
		        			id="links_deleter_0" width="10" height="10"
		                	alt="X" src="/media/admin/img/admin/icon_deletelink.gif"/>
		        	</p>
		        	<script language="javascript">
		        		var prev_resources = false
		            </script>
		        {% endif %}
              </div>
            </td>
        </tr>
    </tbody>
    </table>
    </form>
{% endblock %}
