{% extends "site_base.html" %} 

{% block title %}
  New Fab Order
{% endblock %}

{% block page_title %}
  New Fab Order
{% endblock %}

{% block teaser %}
    
{% endblock %}

{% block extra_head %}
	{{ form.media }}
	<link rel="stylesheet" href="{{ MEDIA_URL }}/fritzing/css/fabform.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.js"></script>
	<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.query.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}fritzing/js/fabform.js"></script>
{% endblock %}

{% block content %}
	<div id="customer-addresses">
		<div class="shipping customer-address">
			<span class="address-title">Shipping Address</span><br />
			{% for field in shipping_address_form %}
				<label for="shipping-{{ field.html_name }}">{{ field.label }}:</label>
				<input id="shipping-{{ field.html_name }}" type="text" maxlength="255" name="shipping-{{ field.html_name }}"/>
			{% endfor %}
		</div>
		<div class="billing customer-address">
			<input type="checkbox" id="billing_enabled"></input>
			<span class="address-title">Billing Address</span> <span class="help">Only if different from the shipping one</span><br />
			{% for field in billing_address_form %}
				<label for="billing-{{ field.html_name }}">{{ field.label }}:</label>
				<input id="billing-{{ field.html_name }}" type="text" maxlength="255" name="billing-{{ field.html_name }}"/>
			{% endfor %}
		</div>
	</div>
	{{ form.as_p }}
	<div id="manufacturer-form">
	</div>
{% endblock %}