{% extends "ticker_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load comments %}

{% block title %}{% blocktrans with entry.title as entry_title %}
    News: {{ entry_title }}
{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{% endblock %}
    

{% block page_title %}
  {{ entry.title }} 
{% endblock %}

{% block teaser %}
	by <a href="{% url profile_detail entry.author %}">{{ entry.author }}</a> on {{ entry.date|date:_("DATETIME_FORMAT") }}
	<p class="documentDescription">{{ entry.content|safe }}</p>
{% endblock %}

{% block content %}
<div class="content first-content">
    {% include "news/entry.html" %}
    {% include "comments/fritzing_comments.html" %}
</div>
{% endblock %}

{% block content-related %}

    <p>
    <span class="prevnext">
        {% if entry.get_prev %}
        &larr; <a href="{{ entry.get_prev.get_absolute_url }}" title="{% blocktrans with entry.get_prev.title as previous_entry_title %}Previous entry: {{ previous_entry_title }}{% endblocktrans %}">
            {% trans "Previous" %}
        </a>
        {% endif %}
        {% if entry.get_prev and entry.get_next %}&nbsp;~&nbsp;{% endif %}
        {% if entry.get_next %}
        <a href="{{ entry.get_next.get_absolute_url }}" title="{% blocktrans with entry.get_next.title as previous_entry_title %}Next entry: {{ previous_entry_title }}{% endblocktrans %}">
            {% trans "Next" %}
        </a> &rarr;
        {% endif %}
    </span>
    </p>

    {% if entry.get_tags %}
    <h2 class="first">{% trans "Tags for this entry" %}</h2>
    <p class="tagsizelist" style="line-height: 2em;">
    {% for tag in entry.get_tags %}
        <a href="{% url ticker_archive_details tag.name|urlencode %}" class="tag">{{ tag.name }}</a>
    {% endfor %}
    </p>
    {% endif %}

    {% if entry.get_related %}
    <h2>{% trans "Related tags" %}</h2>
    <ul class="linklist">
    {% for rel in entry.get_related|slice:":5" %}
        <li><a href="{{ rel.get_absolute_url }}">{{ rel.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {{ super.block }}
{% endblock %}
