{% load i18n %}
{% if is_detail %}
  <div class="more">
    <p>
      {{ entry.content_more|safe }}
    </p>
  </div>
  {% if entry.source_url %}
  <p class="source">
      {% trans "Source" %}: <a href="{{ entry.source_url }}">{{ entry.source_url }}</a>
  </p>
  {% endif %}
{% else %}
  <dt style="margin-top:3em" id="{{ entry.pk|escape }}">
      <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
      <div class="discreet">by <a href="{% url profile_detail entry.author %}">{{ entry.author }}</a> on {{ entry.date|date:_("DATETIME_FORMAT") }}</div>
  </dt>
  <dd>
      {{ entry.content|safe }}
    <br/><hr/>
  </dd>
{% endif %}
