{% extends "profiles/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block title %}
	{% trans "Profile" %}: {{ other_user }}{{ block.super }}
{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/projects.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/profiles.css" type="text/css" media="screen" charset="utf-8">
	<!--script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.js"></script-->
	<!--script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.query.js"></script-->
	<script type="text/javascript" src="{{ MEDIA_URL }}tinymce/tiny_mce.js"></script>
{% endblock %}


{% block head_title %}{% blocktrans %}{{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
<div class="profile">
	<div class="header">
		{% if other_user.get_profile.image %}
			<img class="image" src="{{ MEDIA_URL }}{{other_user.get_profile.image}}"/>
		{% endif %}
		<div class="main">
		    <h1>{% blocktrans %}{{ other_user }}{% endblocktrans %}</h1>
		    {% if other_user.first_name or other_user.last_name %}
		    	<p class="documentDescription">
		    		{% if other_user.first_name %}
		    			{{ other_user.first_name }}
		    		{% endif %}
		    		{% if other_user.last_name %}
		    			{{ other_user.last_name }}
		    		{% endif %}
		    		
		    		{% if other_user.get_profile.location%}
			       		<br/>{{ other_user.get_profile.location }}
			       	{% endif %}
		    	</p>
				{% if other_user.get_profile.website %}
		        	<p>
		        		<b>{% trans "Website" %}</b>:<br />
		        		<a href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a>
		        	</p>
	        	{% endif %}
		    {% endif %}
		    
		     {% if user.is_authenticated %}
		        {% if is_me %}
					<a href="#" onclick="$('#profile_form').toggle(); return false;">{% trans "Edit profile" %}</a>
				{% endif %}
    		 {% endif %}
	    </div>
    </div>
    
    <div class="user_activity">
	    <div class="profile_about">
	        {% if other_user.get_profile.about %}
	        	<p>{{ other_user.get_profile.about }}</p>
	        {% endif %}
	    </div>
 
	    <div class="user_projects data_col col1" style="height: 300px;">
	    	<h3 style="margin-bottom:  10px;">{% trans "Projects" %}</h3>
		    {% if user.is_authenticated %}
		        {% if is_me %}
			    	<form action="{% url projects-create %}">
						<input type="submit" value="{% trans "Create New Project..." %}"></input>
					</form>
		        {% endif %}
		    {% endif %}
		    {% if projects %}
				<div class="plain project">
					{% for project in projects %}
						<div class="project overview item">
							<div class="project overview image">
								{% if project.main_images %}
									<p><a href="{{ project.get_absolute_url }}">
										<img width="100"
				                            src="{{ project.main_images.0.overview.url }}" 
				                            alt="{{ project.title }}" />
									</a></p>
								{% endif %}
							</div>
							<ul>
								<li><h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3></li>
								<li>{{ project.created|date:_("DATETIME_FORMAT") }}</li>
								<li>by {{ project.author }}
									{% if project.difficulty %}
										for {{ project.get_difficulty }}
									{% endif %}
								</li>
							</ul>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>{% trans "This user has no projects" %}</p>
			{% endif %}
    	</div>
    </div>    
    
    {% if user.is_authenticated %}
        {% if is_me %}
	        <div class="edit">	
	            <form class="uniForm" id="profile_form" method="POST" action="" style="display: none;">
	                <fieldset class="inlineLabels">  
	                    {{ profile_form|as_uni_form }}
	                    <div class="form_footer">
		                    <div class="form_links">
		                    	<ul>
						            <li><a href="/openid/associations/" target="_blank">{% trans "OpenID Associations" %}</a></li>
						            {% if user.password %}
						            <li><a href="{% url acct_passwd %}" target="_blank">{% trans "Change Password" %}</a></li>
						            {% else %}
						            <li><a href="{% url acct_passwd_set %}" target="_blank">{% trans "Set Password" %}</a></li>
						            {% endif %}
						            {% if user.password and request.openids %}
						            <li><a href="{% url acct_passwd_delete %}" target="_blank">{% trans "Delete Password" %}</a></li>
						            {% endif %}
						            {# <li><a href="{% url acct_language_change %}" target="_blank">{% trans "Language" %}</a></li> #}
						            {# <li><a href="{% url acct_timezone_change %}" target="_blank">{% trans "Timezone" %}</a></li> #}
						            <li><a href="{% url forum_subscriptions %}" target="_blank">{% trans "Forum subscriptions" %}</a></li>
						        </ul>
		                    </div>
		                    <div class="form_block form_buttons">
			                    <input type="hidden" name="action" value="update" />
			                    <input type="submit" value="{% trans "Save" %}"/>
			                    <input type="submit" value="{% trans "Cancel" %}" onclick="$('#profile_form').hide(); return false;"/>
		                    </div>
	                    </div>
	                </fieldset>
	            </form>
	         </div>
        {% endif %}
    {% endif %}
    
	<script type="text/javascript">
	/*$(document).ready(function() {
	    $.get('{% url projects-for-user other_user.id %}', function(data, textStatus) {
	  	  	var projs = $("#user_projects")
	  	  	projs.html(projs.html()+data)
	  	});
	});*/
	</script>
	
	<script type="text/javascript">
        $().ready(function() {
            {% if profile_form.errors %}
                $('#profile_form').show();
            {% endif %}
        });
    </script>

{% endblock %}


