{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load humanize %}

{% block title %}{% blocktrans %}All Profiles{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Member" %}</h1>
    
    {% autopaginate users %}
        
	<dl>
    {% for user in users %}
		<dt><a href="{% url profile_detail user.username %}">{{ user }}</a></dt>
		{% if user.first_name or user.last_name or user.get_profile.location %}
			<dd>
				{{ user.first_name}} {{ user.last_name}}
				{% if user.get_profile.location %}
					({{ user.get_profile.location }})
				{% endif %}
			</dd>
		{% endif %}                
    {% endfor %}
    </dl>
    
    {% paginate %}
{% endblock %}
