/* Fritzing Stylesheet
   
   depends on the Sunbird theme.
   
*/


.clear {
    clear: both;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 9.6pt !important;
}

#content {
    font-size: 100%;
}

div.position-0 {
    margin-left: -100%;
}

h1, h2, h3, h4, h5, h6, 
#content .documentDescription {
    font-family: Verdana, Arial, sans-serif;
}
h1 {
    font-size: 14pt !important;
}
h2, h3 {
    font-size: 12pt !important;
}
h4, h5, h6, 
#content .documentDescription {
    font-size: 9.6pt !important;
}
h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    color: #962320;
}

#content-core p,
#content-core ul,
#content-core ol,
#content-core dl {
    margin-bottom: 0.4em;
}

.important {
    color: #962320;
    font-weight: bold;
}

img.adapt_width {
    max-width: 100%;
}

#fritzing-content #content a:link, 
#fritzing-content #content a:visited,
.overlay #content-core a:link, 
.overlay #content-core a:visited {
    color: #658975;
    border: none !important;
    text-decoration: underline;
}
#fritzing-content #content a:hover {
    color: #2a4b3a !important;
}
body.template-index #fritzing-content #content-core p a:link:before,
body.template-document_view #fritzing-content #content-core p a:link:before,
body.template-index #fritzing-content #content-core li a:link:before,
body.template-document_view #fritzing-content #content-core li a:link:before {
    display: inline-block;
    position: relative;
    vertical-align: -5px;
    margin-bottom: -5px;
    background: white;
    content: url(../img/texticon_link.png)" ";
}

#portal-header {
    margin-bottom: 2.4em;
}

#meta-wrapper {
    width: 100%;
    background-color: #9ebea7;
    font-size: 85%;
}
#meta,
#logo-wrapper,
.fritzing-navTreeLevel0,
#fritzing-content {
    margin: 0 auto;
    width: 90%;
    max-width: 908px;
}

#logo-wrapper {
    margin-top: 3.6em;
    margin-bottom: .8em;
}

#portal-logo {
    margin: 0px;
}

#portal-personaltools {
    float: right;
    clear: right;
    white-space: nowrap;
    /* reset sunbursts styles: */
    background: none repeat scroll 0 0 transparent;
    font-size: 100%;
    padding: 0;
    position: inherit;
    border-radius: 0;
}
#related-sites a,
#portal-personaltools a {
    display: inline-block;
    padding: .2em .6em;
    color: white;
}
#related-sites li:before,
#portal-personaltools li:before {
    content: "\\";
    color: white;
}
#related-sites li:first-child:before,
#portal-personaltools li:first-child:before {
    content: "";
}

#related-sites a.active {
    font-weight: bold;
}
#related-sites a:hover,
#portal-personaltools a:hover {
    text-decoration: underline;
}

input#searchGadget {
    width: 170px;
    padding: .1em;
    padding-right: 16px;
    background: url(../img/searchField.png) top right no-repeat;
}

.fritzing-navTreeLevel0 {
    background: #962320;
}
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 {
    background: #cc5447;
    position: absolute;
}
.fritzing-navTreeLevel0 li {
    display: inline-block;
}
.fritzing-navTreeLevel0 li > a,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li > a {
    display: inline-block;
    border: none;
    padding: .2em .6em !important;
    line-height: inherit !important;
    text-decoration: none;
    color: white !important;
    background: transparent !important;
}
.fritzing-navTreeLevel0 li:before,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li:before {
    content: "\\";
    color: white;
}
.fritzing-navTreeLevel0 li:first-child:before,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li:first-child:before {
    content: " "; /* webkit needs a space here */
}
.fritzing-navTreeLevel0 li > a:hover,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li > a:hover {
    color: white;
    text-decoration: underline;
    background: transparent;
}
.fritzing-navTreeLevel0 li.navTreeCurrentNode > a,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li.navTreeCurrentNode > a {
    color: white;
    font-weight: bold;
    background: transparent;
}
.fritzing-navTreeLevel0 li.navTreeCurrentNode > a:hover,
.fritzing-navTreeLevel0 ul.fritzing-navTreeLevel1 li.navTreeCurrentNode > a:hover {
    color: white;
    background: transparent;
}

#content fieldset {
    border-color: #cc5447;
}

#edit-bar,
#content-views,
#contentActionMenus,
#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
    border-color: #ddd;
    background-color: #ddd;
}