{% extends "downloads_base.html" %}
{% load downloads_tags %}
{% load generic_content %}
{% block content %}
<h1>Download</h1>
<p class="documentDescription">
<span class="" id="parent-fieldname-description">
We're very happy that you are interested in evaluating Fritzing. 
Please be aware that while you can already do serious stuff with 
it, we make no guarantees about anything.
</span></p>
<div class="" id="parent-fieldname-text">
</div>
<img src="/media/uploads/download_screenshot_jpg_versions/small_download_screenshot.jpg" />
<p class="latest_release">
{% get_latest_object downloads.release as latest_release %}
{% if latest_release %}
    <h3>Latest release: <a href="{{ latest_release.get_absolute_url }}">{{ latest_release.version }}</a> | {{ latest_release.release_date|date }}</h3>
    {% for download in latest_release.download_set.all reversed %}
    <img src="{{ MEDIA_URL }}fritzing/img/arrow-down.gif" alt="Arrow down" />
        <strong><a href="{{  download.get_absolute_url }}" 
	    onclick="_gaq.push(['_trackPageview', '/download/{{ latest_release.version }}/{{ download.platform }}']);"
            title="{{ download.counter|add:download.updated }} downloads">
            {{ download.platform }}</a></strong>
    {% endfor %}
{% endif %}
</p>
<br style="clear:both;">
<p>Please read the <b>Installing Fritzing</b> instructions in the section below.<p>
<p>See the&#160;<a href="/download/history-changes/" title="History of Changes">History of Changes</a>&nbsp;and the currently&nbsp;<a href="/download/known-issues/" title="Known Issues">Known Issues</a></p>

<p>
<a href="http://fritzing.org/shop/donations/"><img src="http://fritzing.org/media/uploads/shop/donate.gif" border="0"/></a>
Please <a href="http://fritzing.org/shop/donations/">support</a> Fritzing!
</p>

<p>
This version includes translations for: 
<span lang="de">Deutsch</span>, 
English, 
<span lang="es">Español</span>, 
<span lang="fr">Français</span>, 
<span lang="it">Italiano</span>, 
<span lang="nl">Nederlands</span>,
<span lang="pt-PT">Português (eu)</span>, 
<span lang="pt-BR">Português (br)</span>, 
<span lang="ja">日本語</span> (Japanese), 
<span lang="zh-CN">中文 (简体)</span> (Chinese Simplified), 
<span lang="zh-TW">正體中文 (繁體)</span> (Chinese Traditional), 
<span lang="ru">Русский</span> (Russian).
</p>

<h2>Installing Fritzing</h2>

<p>Please make sure your system satisfies one of these requirements:<br /><em>PC</em> - XP and up<br /><em>Mac </em>- OSX 10.4 and up<br /><em>Linux </em>- a fairly recent linux distro with libc &gt;= 2.6</p>

<ol>
    <li><p>Choose a link above to start downloading the Fritzing package that's right for you.</p>
    </li>
    <li><p>Unzip your Fritzing folder somewhere convenient on your hard drive. 
	<ul><li><span class="discreet">This may also be a good time for you to create a shortcut to the Fritzing application.</span></li>
	<li><span class="discreet">A free unzipping program can be found <span class="link-external"><span class="link-external"><a href="http://www.rarlab.com/download.htm">here</a></span></span>, should you need it.</span></li>
	<li><span class="discreet">If you are updating your release of Fritzing, your custom files (parts and bins) are not stored with the application, so they will not be destroyed if you delete the older version of the Fritzing application folder.</span></li></ul>
    </p></li>
    <li><p>To start Fritzing:
	<ul><li>on Linux: double-click fritzing.sh, or try ./fritzing.sh in your shell window</li>
		<li>on Windows: double-click fritzing.exe</li>
		<li>on Mac: double-click the Fritzing application</li></ul>
    </p></li>
    <li><p>If you experience problems, please try downloading again. This often helps. If it doesn't, have a look at our forums. </p> </li>
    <li><p>Windows note: if you get an error message about "missing dlls", 
		your system probably requires the additional installation of Microsoft C++ runtime libraries.  
		These can be downloaded <a href="http://www.microsoft.com/download/en/details.aspx?id=5555">here</a>. </p> </li>
    <li><p>Linux note: this binary release has been built and tested under Ubuntu 10.4.2 LTS. 
		Distros for other flavors of linux can be found <a href="https://build.opensuse.org/package/show?package=fritzing&project=Education">here</a>, 
		and <a href="http://software.opensuse.org/download.html?project=home:Heinervdm:branches:Education&package=fritzing">here</a>,
		and search our <a href="http://fritzing.org/forum/">forum</a> for even more.  
		We heartily thank openSUSE, Thomas Zimmermann, Debian.org, and other people and organizations for making these available.  
		But please be aware we have not tested these builds.</p></li>
</ol>

<h2>Older releases</h2>
<p>{% release_history %}</p>
<!-- p>The older versions 0001 - 0005 are no longer supported and not compatible with the current version. If you need them, they are <a href="http://archive.fritzing.org/download">archived at the old Fritzing page</a>.</p-->
{% endblock %}
