{% extends "downloads_base.html" %}

{% block content %}
    <h2>Release version {{ version }}</h2>
    {% for release in releases %}
    <p>
    <a name="{{ release.pk }}-{{ release.release_date|date:"%Y-%m-%d" }}"></a>
    <div class="release_date">
        <h4>{{ release.release_date|date }}</h4>
    </div>
    {% ifequal release.type release.INTERIM  %}
        Interim release
    {% endifequal %}
    {% ifequal release.type release.MAIN  %}
        Main release
    {% endifequal %}
    {% if release.download_set.count %}
        {% for download in release.download_set.all %}
            <a href="{{ download.get_absolute_url }}"
	    onclick="_gaq.push(['_trackPageview', '/download/{{ release.version }}/{{ download.platform }}']);">{{ download.platform }}</a>
        {% endfor %}
    {% endif %}
    <p>{{ release.description|safe }}</p>
    {% if release.changelog %}
        <p>{{ release.changelog|safe }}</p>
    {% endif %}
    </p>
    {% endfor %}
{% endblock %}
