CherryPy==3.1.0
Fabric
Jinja==1.2
PyYAML==3.06
Pygments==1.0
python-dateutil==1.4.1
docutils==0.5
flup==1.0.1
markdown==1.7
textile==2.0.11
yolk==0.4.1
python-memcached

django-dbtemplates==0.5.5
django-templatesadmin==0.5.5
django-reversion==1.1
django-ajax-validation
django-announcements==0.1.0
django-avatar==1.0.1
django-microblogging==0.1.0
django-notification==0.1.2
django-pagination==1.0.5
django-robots==0.6.0
django-messages==0.4.0
django-photologue==2.2
django-wikiapp==0.1.2
django-tinymce==1.5
django-imagekit
South

-e bzr+http://bazaar.launchpad.net/~carljm/django-markitup/trunk#egg=django-markitup
-e hg+http://bitbucket.org/jezdez/django-licenses/#egg=django-licenses
-e git+git://github.com/jezdez/django-forum.git#egg=django-forum
-e git+git://github.com/jezdez/django-ticker.git#egg=django-ticker
-e git+git://github.com/jezdez/dregni.git#egg=dregni
-e git+git://github.com/alex/django-filter.git#egg=django-filter
-e git+git://github.com/brosner/django-openid.git#egg=django-openid
-e git+git://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar
-e git+git://github.com/jezdez/django-feedutil.git#egg=django-feedutil
-e svn+http://svn.pinaxproject.com/pinax/trunk@1612#egg=Pinax
-e svn+http://django-filebrowser.googlecode.com/svn/trunk#egg=django-filebrowser
-e svn+http://django-page-cms.googlecode.com/svn/trunk@289#egg=django-page-cms
-e svn+http://django-bookmarks.googlecode.com/svn/trunk#egg=django-bookmarks
-e svn+http://django-email-confirmation.googlecode.com/svn/trunk#egg=django-email-confirmation
-e svn+http://django-flag.googlecode.com/svn/trunk#egg=django-flag
-e svn+http://django-friends.googlecode.com/svn/trunk#egg=django-friends
-e svn+http://django-gravatar.googlecode.com/svn/trunk#egg=django-gravatar
-e svn+http://django-mailer.googlecode.com/svn/trunk#egg=django-mailer
-e svn+http://django-oembed.googlecode.com/svn/trunk#egg=django-oembed
-e svn+http://django-schedule.googlecode.com/svn/trunk#egg=django-schedule
-e svn+http://django-threadedcomments.googlecode.com/svn/trunk#egg=django-threadedcomments
-e svn+http://django-locations.googlecode.com/svn/trunk#egg=django-locations
-e svn+http://django-uni-form.googlecode.com/svn/trunk#egg=django-uni-form
-e svn+http://django-swaps.googlecode.com/svn/trunk#egg=django-swaps
-e svn+http://django-app-plugins.googlecode.com/svn/trunk#egg=django-app-plugins
-e svn+http://django-tagging.googlecode.com/svn/trunk#egg=django-tagging
-e svn+http://django-voting.googlecode.com/svn/trunk#egg=django-voting
-e svn+http://django-command-extensions.googlecode.com/svn/trunk#egg=django-extensions
-e svn+http://django-db-log.googlecode.com/svn/trunk#egg=django-db-log
-e svn+http://django-mptt.googlecode.com/svn/trunk#egg=django-mptt
-e svn+http://django-timezones.googlecode.com/svn/trunk#egg=django-timezones
-e svn+http://django-template-utils.googlecode.com/svn/trunk#egg=django-template-utils
-e svn+http://sorl-thumbnail.googlecode.com/svn/trunk#egg=sorl-thumbnail
-e svn+http://django-emailthis.googlecode.com/svn/trunk#egg=django-emailthis
-e svn+http://django-treemenus.googlecode.com/svn/trunk#egg=django-treemenus
-e svn+http://django-contact-form.googlecode.com/svn/trunk#egg=django-contact-form
