StackTabWidget::pane {
	position: absolute;
	top: 0.43em;
}

PartsEditorMainWindow QTabWidget::pane {
	position: absolute;
	top: 0.41em;
}

/*
PartsEditorMainWindow QTabbar::tab {
	min-height: 3em;
}
*/