{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block extra_script %}
<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/events.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block title %}{% blocktrans with event.title as event_title %}
    Events: {{ event_title }}
{% endblocktrans %}{% endblock %}

{% block page_title %}
  {{ event.title }}
{% endblock %}

{% block teaser %}{{ event.content|safe }}{% endblock %}

{% block content %}
<div class="content first-content">
    {% include "events/event.html" %}
{% endblock %}
