{% load i18n %}

<div class="event" >
{% if is_detail %}
	<p class="documentDescription description">
		<span id="parent-fieldname-description" class=""> {{ event.description }}</span>
	</p>
	
	{% for md in event.metadata.all %}
		{% ifequal md.type.title "where" %}
			<span class="location"><a target="_blank" href="{{ md.url }}">{{ md.text }}</a></span> 
		{% endifequal %}
	{% endfor %}
	
	<div>
		{% if event.end_date %} From {% else %} On {% endif %}
		<abbr class="datetext" title="{{ event.start_date }}{%if event.start_time %} {{ event.start_time }}{% endif %}">
		{{ event.start_date|date:"M d" }}{%if event.start_time %}, {{ event.start_time|time:"H:i" }}{% endif %}</abbr>
		{% if event.end_date %} to
		<abbr class="datetext" title="{{ event.end_date }}{%if event.end_time %} {{ event.end_time }}{% endif %}">
		{{ event.end_date|date:"M d" }}{%if event.end_time %}, {{ event.end_time|time:"H:i" }}{% endif %}</abbr>
		{% endif %}
	</div>
	
	<div id="parent-fieldname-text" class="event_body">
		{{ event.body|safe }}
	</div>
{% else %}
		<div class="date">{{ event.start_date|date:"M d" }}</div>
		<div class="header">
			<a class="state-published url title" href="{% url event_details event.slug %}">
			{{ event.title }}
			</a>
			{% for md in event.metadata.all %}
				{% ifequal md.type.title "where" %}
					(<span class="location"><a target="_blank" href="{{ md.url }}">{{ md.text }}</a></span>) 
				{% endifequal %}
			{% endfor %}
			<div>
				<abbr class="datetext" title="{{ event.start_date }}{%if event.start_time %} {{ event.start_time }}{% endif %}">
				{{ event.start_date|date:"M d" }}{%if event.start_time %}, {{ event.start_time|time:"H:i" }}{% endif %}</abbr>
				{% if event.end_date %} -
				<abbr class="datetext" title="{{ event.end_date }}{%if event.end_time %} {{ event.end_time }}{% endif %}">
				{{ event.end_date|date:"M d" }}{%if event.end_time %}, {{ event.end_time|time:"H:i" }}{% endif %}</abbr>
				{% endif %}
			</div>		
			<div class="description">{{ event.description }}</div>
		</div>	
{% endif %}
</div>
