{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block extra_script %}
<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/events.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block page_title %}{% trans "Events" %}{% endblock %}

{% block teaser %}Meet and Greet{% endblock %}

{% block content %}
<div class="content first-content">
    {% autopaginate event_list %}
    	<div class="events_row">
    {% for event in event_list %}
	    {% if forloop.counter|divisibleby:"4" %}
	    </div>
	    <div class="events_row not_first">
	    {% endif %}
		{% include "events/event.html" %}
    {% endfor %}
    	</div>
</div>
{% paginate %}
{% endblock %}
