{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block extra_script %}
<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/events.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block title %}{% trans "Events" %}{% endblock %}
{% block page_title %}{% trans "Events" %}{% endblock %}
{% block teaser %}
We love to give talks and workshops about Fritzing and physical prototyping. Stay
tuned for an upcoming event in your area or invite us to your school for a
presentation or workshop.
<!--p></p>
<p>
	<img alt="" src="{{ MEDIA_URL }}uploads/reto_summit_jpg_versions/small_reto_summit.jpg"/>
</p-->

<!-- Start of Flickr Badge -->
<p><!-- #flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;} #flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;} #flickr_icon_td {padding:0 5px 0 0 !important;} .flickr_badge_image {text-align:center !important;} .flickr_badge_image img {border: 1px solid black !important;} #flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;} #flickr_badge_uber_wrapper a:hover, #flickr_badge_uber_wrapper a:link, #flickr_badge_uber_wrapper a:active, #flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#94294E;} #flickr_badge_wrapper {background-color:#ffffff;} #flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;} --></p>
<table id="flickr_badge_uber_wrapper" border="0" cellspacing="10"
	cellpadding="0">
	<tbody>
		<tr>
			<td><script
				src="http://www.flickr.com/badge_code_v2.gne?count=3&amp;display=random&amp;size=t&amp;layout=h&amp;source=user&amp;user=21811544%40N08"
				type="text/javascript"></script>
			<table id="flickr_badge_wrapper" border="0" cellspacing="10"
				cellpadding="0">
				<tbody>
					<tr>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- End of Flickr Badge -->
{% endblock %}

{% block content %}
<div class="content first-content">
    {% autopaginate event_list %}
    	<div class="events_row">
    {% for event in event_list %}
		{% include "events/event.html" %}
		
		{% if forloop.counter|divisibleby:"3" %}
	    </div>
	    <div class="events_row not_first">
	    {% endif %}
	    
    {% endfor %}
    	</div>
</div>

<style  type="text/css">
	div.pagination {
		clear: both;
	}
</style>
{% paginate %}

{% endblock %}

{% block metalinks %}
	<a id="icalLink" title="Download this event in iCal format" href="{% url event_icalendar %}">
	<img width="16" height="16" title="iCal export" alt="" src="{{ MEDIA_URL }}fritzing/img/icon_export_ical.png"/>
	<span>iCal</span>
	</a>
	{{ block.super }}
{% endblock %}
