{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block extra_script %}
<link rel="stylesheet" href="{{ MEDIA_URL }}fritzing/css/events.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block title %}{% trans "Events" %}{% endblock %}
{% block page_title %}{% trans "Events" %}{% endblock %}
{% block teaser %}
We love to give talks and workshops about Fritzing and physical prototyping. Stay
tuned for an upcoming event in your area or invite us to your school for a
presentation or workshop.
<p>
	<img alt="" src="{{ MEDIA_URL }}uploads/reto_summit_jpg_versions/small_reto_summit.jpg"/>
</p>
{% endblock %}

{% block content %}
<div class="content first-content">
    {% autopaginate event_list %}
    	<div class="events_row">
    {% for event in event_list %}
		{% include "events/event.html" %}
		
		{% if forloop.counter|divisibleby:"3" %}
	    </div>
	    <div class="events_row not_first">
	    {% endif %}
	    
    {% endfor %}
    	</div>
</div>

<style  type="text/css">
	div.pagination {
		clear: both;
	}
</style>
{% paginate %}

{% endblock %}

{% block metalinks %}
	<a id="icalLink" title="Download this event in iCal format" href="{% url event_icalendar %}">
	<img width="16" height="16" title="iCal export" alt="" src="{{ MEDIA_URL }}fritzing/img/icon_export_ical.png"/>
	<span>iCal</span>
	</a>
	{{ block.super }}
{% endblock %}
